h5 {
  clear: both;
}
ul{
  list-style: none;
}

.content{

  fieldset {
    margin: 25px;

    ul.ingredients {
      display: inline;

      li {
        list-style: none;
        display: inline;
        float: left;
        width: 400px;
        clear: both;

        div {
          float: left;
          input.quantity, input.unit {
            width: 60px;
          }
          input.name{
            width: 215px;
          }
        }
        .addIngredient{
          margin: 23px 0  0 5px;
        }
      }
    }

    .longtext{
      width: 350px;
    }
  }
}

.recipelist{
  li{
    color: #3c763d;
    cursor: pointer;
    &:hover{
      background-color: #dff0d8;
      color: #31708f;
    }
  }
}

.showrecipe{
  > div {
    padding: 10px;
  }
}