@(recipeForm: Form[_])(implicit request: Request[AnyContent])

@import helper._
@import helper.twitterBootstrap._


@main("enter a recipe") {

<div id="formHolder">

@form(action = routes.Recipe.submitForm, 'class -> "recipeForm"){

<fieldset>
    @inputText(recipeForm("title"), 'class -> "form-control longtext", 'placeholder -> "title")
    @inputText(recipeForm("alternativeTitle"), 'class -> "form-control longtext", 'placeholder -> "alternate title")
    <ul class="ingredients">
        @repeat(recipeForm("ingredients"), min = 1){ ing =>
        <li>
            @inputText(ing("quantity"), '_label -> "", 'class -> "form-control quantity", 'placeholder -> "quantity")
            @inputText(ing("unit"), '_label -> "",  'class -> "form-control unit", 'placeholder -> "g")
            @inputText(ing("name"), '_label -> "", 'class -> "form-control name", 'placeholder -> "name")
            <span class="glyphicon glyphicon-plus addIngredient"></span>
        </li>
        }
    </ul>
    @textarea(recipeForm("instruction"),'class -> "form-control", 'placeholder -> "instruction", 'cols -> "40", 'rows -> "15")

    @inputText(recipeForm("keywords"), 'class -> "form-control longtext", 'placeholder -> "keyword/tag separated by whitespace")
    @inputText(recipeForm("timeRequired"), 'class -> "form-control", 'placeholder -> "time required")
    @textarea(recipeForm("comment"), 'class -> "form-control", 'placeholder -> "comment")
    @inputText(recipeForm("url"), 'class -> "form-control longtext", 'placeholder -> "url")

    <button class="btn btn-default">submit</button>

</fieldset>
}
</div>
}
