@(title: String, script: Html = Html(""))(content: Html)(implicit request: Request[AnyContent])
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/handlebars.runtime.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/recipe.js")" type="text/javascript"></script>

        <script type="text/javascript">
            @Html(play.api.Routes.javascriptRouter("jsRoutes")(
                routes.javascript.Recipe.allTitle,
                routes.javascript.Recipe.submitForm,
                routes.javascript.Recipe.remove,
                routes.javascript.Recipe.byId,
                routes.javascript.Recipe.globalSearch
        ))
        </script>

        @script

    </head>
  <body>
    <div style="display: none" id="message">
      <button type="button" class="close" aria-hidden="true">&times;</button>
    </div>

   <div class="content col-xs-4">
       @content
   </div>
   <div class="middlecolumn col-xs-3">
       @recipeList()
   </div>

  <div class="showrecipe col-xs-5"></div>

  <script id="singleRecipe" type="text/x-handlebars-template">
      <div class="recipe">
          <span data-id="{{_id}}" data-rev="{{_rev}}" class="glyphicon glyphicon-trash delete"></span>
          <div class="content">
              <h1>{{title}}<br/><small>{{alternateTitle}}</small></h1>
          <div class="comment">{{comment}}</div>
          <div class="info">
              {{#if timeRequired}}<div class="time">Zeit: {{timeRequired}}</div>{{/if}}
              {{#if url}}<div class="url">Quelle: {{url}}</div>{{/if}}
          </div>
          <ul class="ingredients">
              {{#each ingredients}}
                <li>
                    <span class="amount">{{amount}}</span>
                    <span class="unit">{{unit}}</span>
                    <span class="name">{{name}}</span>
                </li>
              {{/each}}
          </ul>
          <div class="instruction">
              {{instruction}}
          </div>

      </div>
  </script>

    <script id="recipeTemplate" type="text/x-handlebars-template">
      <form action="/recipeForm" class="recipeForm" method="POST">
        <input type="hidden" name="_rev" value="{{_rev}}"/>
        <input type="hidden" name="_id" value="{{_id}}"/>
        <fieldset>
          <div>
            <div class="input">
              <input type="text" name="title" value="{{title}}" class="form-control longtext"
                     placeholder="title">
            </div>
          </div>
          <div>
            <div class="input">
              <input type="text" name="alternativeTitle" value="{{alternateTitle}}"
                     class="form-control longtext" placeholder="alternate title">
            </div>
          </div>
          <ul class="ingredients">
            {{#each ingredients}}
            <li>
              <div>
                <div class="input">
                  <input type="text" name="ingredients[0].quantity"
                         value="{{amount}}" class="form-control quantity" placeholder="quantity">
                </div>
              </div>
              <div>
                <div class="input">
                  <input type="text" name="ingredients[0].unit" value="{{unit}}"
                         class="form-control unit" placeholder="g">
                </div>
              </div>
              <div>
                <div class="input">
                  <input type="text" name="ingredients[0].name" value="{{name}}"
                         class="form-control name" placeholder="name">
                </div>
              </div>
              <span class="glyphicon glyphicon-plus addIngredient"></span>
            </li>
            {{/each}}
          </ul>
          <div>
            <div class="input">
              <textarea name="instruction" class="form-control" placeholder="instruction"
                        cols="40" rows="15">{{instruction}}</textarea>
            </div>
          </div>
          <div>
            <div class="input">
              <input type="text" name="keywords" value="{{keywords}}" class="form-control longtext"
                     placeholder="keyword/tag separated by whitespace">
            </div>
          </div>
          <div>
            <div class="input">
              <input type="text" name="timeRequired" value="{{timeRequired}}" class="form-control"
                     placeholder="time required">
            </div>
          </div>
          <div>
            <div class="input">
              <textarea name="comment" class="form-control" placeholder="comment">{{comment}}</textarea>
            </div>
          </div>
          <div>
            <div class="input">
              <input type="text"placeholder="url" value="{{url}}" name="url">
            </div>
          </div>
          <button class="btn btn-default">submit</button>
        </fieldset>
      </form>
    </script>

  </body>
</html>
