@(recipeForm: Form[_])

@import helper._
@import helper.twitterBootstrap._


@main("enter a recipe") {

        @form(action = routes.Recipe.submitForm){

        <fieldset>
            @inputText(recipeForm("title"), 'placeholder -> "title")
            @inputText(recipeForm("alternativeTitle"), 'placeholder -> "alternate title")
            @textarea(recipeForm("comment"), 'placeholder -> "comment")

            <h5>ingredients</h5>
            <ul class="ingredients">

            @repeat(recipeForm("ingredients"), min = 1){ ing =>
                <li>
                    @inputText(ing("quantity"), '_label -> "", 'class -> "quantity", 'placeholder -> "quantity")
                    @inputText(ing("unit"), '_label -> "",  'class -> "unit", 'placeholder -> "unit (g)")
                    @inputText(ing("name"), '_label -> "", 'placeholder -> "name")
                    <span class="glyphicon glyphicon-plus addIngredient"></span>
                </li>
            }
            </ul>

            <h5>keywords</h5>
            @inputText(recipeForm("keywords"), 'placeholder -> "keyword/tag separated by whitespace")
            @inputText(recipeForm("timeRequired"), 'placeholder -> "time required")
            @inputText(recipeForm("url"), 'placeholder -> "url")



        </fieldset>

        <button>submit</button>
        }


}
